#header {
    background-color: var(--color-terciario);
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: static;
    top: 0;
    width: 100%;
    z-index: 1000;
    border-bottom: 4px solid var(--color-principal);
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.7);
}

.logo img {
    display: block;
    width: 150px;
    height: auto;
    filter: brightness(1.1);
}

.navegacion-principal ul {
    display: flex;
    gap: 30px;
}

.navegacion-principal a {
    color: var(--color-texto-claro);
    font-weight: 600;
    padding: 10px 0;
    position: relative;
    font-size: 1.1em;
}

.navegacion-principal a:hover {
    color: var(--color-principal);
}

@media (max-width: 768px) {
    #header {
        flex-direction: column;
        padding: 15px 20px;
        text-align: center;
    }

    .logo {
        margin-bottom: 15px;
    }

    .navegacion-principal ul {
        gap: 15px;
        justify-content: center;
        margin-bottom: 15px;
        flex-wrap: wrap;
    }

    .contenedor-boton-nav {
        width: 100%;
    }

    .boton-navegacion {
        display: block;
        text-align: center;
        padding: 10px 20px;
    }
}